{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>

<h1>My Events</h1>

{% if events %}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for e in events %}
    <tr>
      <td>
        {{ e.title }}
      </td>
      <td>
        {{ e.start.strftime("%a %b %d, %Y %I:%M %p") }}
      </td>
      <td>
        {{ e.end.strftime("%a %b %d, %Y %I:%M %p") }}
      </td>
      <td>
        {{ e.event_type }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>
  No events found.
</p>
{% endif %}

{% endblock %}